*, html,body
{
    margin: 0;
    padding:0;

}

.img1{


  background-image: url(..//image/pic4.jpg) ;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}
.img2{

  background-image: url(..//image/pic5.jpg) ;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
    
}
.img3{
   
   background-image: url(..//image/pic6.jpg) ;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.color{
    text-align: center;
    color: whitesmoke !Important;
    font-style: oblique;
    text-shadow: 2px 2px 8px ;
}
.slide{
    height: 100%;
}

.container{
    /*width:80%;*/
    /*margin: auto;*/
    overflow: hidden;
}

#navbar{
    padding-top:25px;
    background-color:white;
    color:black;
}
#navbar ul{
    padding:0;
    list-style: none;
}
#navbar li{
    display:inline;
}
#navbar a{
    padding-top:30px;
    padding-right:15px;
    font-weight: bold;
    color:black;
    text-decoration: none;
    font-size: 14px;
    
}
.logo1 img
{
   margin-top:10px;
   max-width: 80%;
   width:180px;
   height: 50;
   padding: 10px;
   
   
}
#navbar a{
    transition: all 0.5s ease-in;
}
#navbar a:hover{
    color:blue;
}


